    {% extends 'ecommerce/base.html' %}
    {% load static %}
    {% load humanize %}
    {% load custom_tags %}


    {% block body %}

    <body class="bg-dark">
    <div class="container mt-4">
        <div class="row">
            {% if is_cart_empty %}
                <div class="col-md-12 black-card cart-card ms-5 ">
                    <div class="row mt-4">
                        <div class="col-md-12 text-center">
                            <h1><strong><i class="bi bi-cart"></i></strong></h1>
                            <p>Your cart is empty!</p>
                            <p style="width: 70%;" class="mx-auto">Browse our categories and discover our best deals!</p>
                            <a href="{% url 'ecommerce:index' %}" class="btn btn-primary btn-lg mt-2">Start Shopping</a>
                        </div>
                    </div>
                </div>
            {% else %}
            <div class="col-md-8 black-card cart-card ms-5 ">
                <h5>Cart ({{ cart_count }})</h5>
                <hr>
                <div class="d-flex flex-column">
                    {% for cart_item in cart_items %}
                    <div class="d-flex">
                        <div class="col-md-2">
                            <a href="{% url 'ecommerce:product_detail' cart_item.product.pk %}">
                                <img src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.name }}" class="img-fluid mb-3">
                            </a>
                            <div><a href="" class="remove-button text-decoration-none text-primary " data-product-id="{{ cart_item.product.pk }}">
                                <i class="bi bi-trash me-2"></i>REMOVE</a>
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <a href="{% url 'ecommerce:product_detail' cart_item.product.pk %}" class="text-decoration-none text-white">
                                <div class="product-name ms-2"> {{ cart_item.product.name }} </div>
                            </a>
                        </div>

                        <div class="col-md-3 black-card ms-auto d-flex flex-column justify-content-between">
                            <div class="ms-auto">
                                <a href="{% url 'ecommerce:product_detail' cart_item.product.pk %}" class="text-decoration-none text-white">
                                    <div class="text-white fs-6 ms-5 mb-2">&nbsp;&nbsp;N&nbsp; {{ cart_item.product.formatted_price }}</div>
                                </a>
                                {% if cart_item.product.old_price > 0 and cart_item.product.old_price > cart_item.product.new_price %}
                                    <div class="d-flex ms-auto">
                                        <a href="{% url 'ecommerce:product_detail' cart_item.product.pk %}" class="text-decoration-none text-white">
                                            <div class="slashed-price text-white fs-6" style="text-decoration: line-through; font-size: 13px;">N&nbsp; {{ cart_item.product.formatted_old_price }}</div>
                                        </a>
                                        <a href="{% url 'ecommerce:product_detail' cart_item.product.pk %}" class="text-decoration-none text-white">
                                            <span class="badge bg-danger ms-2 small">{{ cart_item.product.discount_percentage }}%</span>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                            
                            <div class="d-flex ms-auto align-items-center">


                                <button id="remove-product" class=" remove-product btn-primary me-3 {% if cart_item.product.is_single_quantity %}disabled{% endif %} {% if cart_item.product.is_single_quantity %}disabled{% endif %}" data-product-id="{{ cart_item.product.pk }}" data-product-quantity="{{ cart_item.product.quantity }}">
                                    <i class="bi bi-dash-lg"></i>
                                </button>
                                
                                <span class="product-count" data-product-id="{{ cart_item.product.pk }}">{{ cart_item.quantity }}</span>
                                
                                <button id="add-product" class=" add-btn btn btn-primary ms-3" data-product-id="{{ cart_item.product.pk }}">
                                    <i class="bi bi-plus-lg"></i>
                                </button>
                            </div>
                        </div>
        
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-3 black-card cart-card mx-auto">
                <div class="fw-bold fs-6">CART SUMMARY</div>
                <hr>
                <div class="d-flex justify-content-between">
                    <div class="fw-bold">Subtotal</div>
                    <div class="fw-bold">N {{ subtotal }}</div>
                </div>
                <div class="small text-secondary">Delivery fees not included yet.</div>
                <hr>
                <button class="btn btn-primary fw-bold d-flex justify-content-center" style="width: 99%;">Checkout (N {{ subtotal }})</button>
                
                <div class="fw-bold fs-6 mt-4">Returns are easy</div>
                <hr>
                <div>Free return within 7 days for ALL eligible items</div>
                <div><a href="{% url 'ecommerce:return_policy' %}" class="text-decoration-none">Details</a></div>
            </div>
            {% endif %}
        </div>
    </div>      

    <!-- Modal for confirmation dialog -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Remove From Cart</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you really want to remove this item from the cart?
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <!-- Add save icon to the "Save for Later" button -->
                    <button type="button" class="btn btn-primary btn-block" style="width: 46%;" id="confirmSave">
                        <i class="bi bi-heart me-2"></i>Save for Later
                    </button>
                    <!-- Add remove icon to the "Remove" button -->
                    <button type="button" class="btn btn-danger btn-block" style="width: 46%;" id="confirmRemove">
                        <i class="bi bi-trash me-2"></i>Remove Item
                    </button>
                </div>
            </div>
        </div>
    </div>
        
    <div id="cartCountUrl" data-url="{% url 'ecommerce:cart_count' %}"></div>    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Handle click event of "Remove" link
            $('.remove-button').click(function(e) {
                e.preventDefault(); // Prevent default link behavior
                var productId = $(this).data('product-id');
                $('#confirmationModal').modal('show'); // Show confirmation modal
                $('#confirmRemove').data('product-id', productId); // Store product ID in the "Remove" button
                $('#confirmSave').data('product-id', productId); // Store product ID for "Save for Later" button
            });
    
            // Handle click event of "Remove" button in confirmation modal
            $('#confirmRemove').click(function() {
                var productId = $(this).data('product-id');
                // Perform AJAX request to remove product from cart
                $.ajax({
                    url: '{% url "cart:remove_all_from_cart" %}', // Your remove from cart URL
                    type: 'POST',
                    data: {
                        product_id: productId,
                        csrfmiddlewaretoken: '{{ csrf_token }}' // Include CSRF token
                    },
                    success: function(response) {
                        // Handle success response
                        if (response.status === 'success') {
                            // Reload the page or update the cart dynamically
                            window.location.reload(); // Reload the page
                        } else {
                            // Handle error response
                            alert('Error removing item from cart.');
                        }
                    },
                    error: function(xhr, status, error) {
                        // Handle AJAX error
                        alert('Error removing item from cart: ' + error);
                    }
                });
            });
    
            // Handle click event of "Save for Later" button
            $('#confirmSave').click(function() {
                var productId = $(this).data('product-id');
                console.log('Product ID:', productId); // Log the product ID
                // Perform AJAX request to save product for later
                $.ajax({
                    url: '{% url "ecommerce:save_product" %}',
                    type: 'POST',
                    data: {
                        product_id: productId,
                        csrfmiddlewaretoken: '{{ csrf_token }}' // Include CSRF token
                    },
                    success: function(response) {
                        // Handle success response
                        console.log('Success response:', response); // Log the response
                        if (response.status === 'save') {
                            if (response.message === 'already_saved') {
                                alert('This product is already saved.');
                            } else {
                                alert('Product saved for later.');
                            }
                            removeProductFromCart(productId);
                        } else if (response.status === 'unsave') {
                            alert('Product removed from saved items.');
                        } else {
                            // Handle error response
                            alert('Error saving product for later.');
                        }
                    },
                    error: function(xhr, status, error) {
                        // Handle AJAX error
                        console.log('Error:', error); // Log the error
                        alert('Error saving product for later: ' + error);
                    }
                });
            });
    
            // Function to remove product from cart and refresh the page
            function removeProductFromCart(productId) {
                $.ajax({
                    url: '{% url "cart:remove_all_from_cart" %}', // Your remove from cart URL
                    type: 'POST',
                    data: {
                        product_id: productId,
                        csrfmiddlewaretoken: '{{ csrf_token }}' // Include CSRF token
                    },
                    success: function(response) {
                        // Handle success response
                        if (response.status === 'success') {
                            // Reload the page
                            window.location.reload(); // Reload the page
                        } else {
                            // Handle error response
                            alert('Error removing item from cart.');
                        }
                    },
                    error: function(xhr, status, error) {
                        // Handle AJAX error
                        alert('Error removing item from cart: ' + error);
                    }
                });
            }
        });
    </script>
    
    <script>
        $(document).ready(function() {
            // Handle click event of "Add" button
            $('#add-product').click(function() {
                var productId = $(this).data('product-id');
                console.log('Product ID:', productId); // Log the product ID
                // Perform AJAX request to add product to cart
                $.ajax({
                    url: '{% url "ecommerce:add_to_cart" %}',
                    type: 'POST',
                    data: {
                        product_id: productId,
                        csrfmiddlewaretoken: '{{ csrf_token }}' // Include CSRF token
                    },
                    success: function(response) {
                        // Handle success response
                        console.log('Success response:', response); // Log the response
                        if (response.status === 'success') {
                            // Update cart count
                            updateCartCount(response.cart_quantity);
                            updateProductCount(productId, response.product_quantity);
                            console.log(response.product_quantity)
                            if (response.product_quantity > 1) {
                                $('#remove-product').prop('disabled', false);
                            }
                            console.log(response.product_quantity)
    
                            // Inform the user that the product was added to the cart
                            alert('Product added to cart.');
                        } else {
                            // Handle error response
                            alert('Error adding product to cart.');
                        }
                    },
                    error: function(xhr, status, error) {
                        // Handle AJAX error
                        console.log('Error:', error); // Log the error
                        alert('Error adding product to cart: ' + error);
                    }
                });
            });
    
            
    
            // Function to update cart count on the page
            function updateCartCount(count) {
                // Update the cart count element with the new count
                $('#cart-count').text(count);
                // Update the cart count displayed in the page title
                $('h5').text('Cart (' + count + ')');
                // Update the cart count URL data attribute for future updates
                $('#cartCountUrl').data('count', count);
            }
    
            // Function to update product count on the page
            function updateProductCount(productId, count) {
                // Update the product count element with the new count
                $('.product-count[data-product-id="' + productId + '"]').text(count);
            }
        });
    </script>
    
    <script>
        $(document).ready(function() {
            // Handle click event of "Remove" button
            $('#remove-product').click(function() {
                var productId = $(this).data('product-id');
                var productQuantity = parseInt($(this).data('product-quantity'));
                    if (productQuantity === 1) {
                        $(this).prop('disabled', true);
                    }
                // Perform AJAX request to remove a unit of product from cart
                $.ajax({
                    url: '{% url "ecommerce:remove_from_cart" %}', // Your remove from cart URL
                    type: 'POST',
                    data: {
                        product_id: productId,
                        csrfmiddlewaretoken: '{{ csrf_token }}' // Include CSRF token
                    },
                    success: function(response) {
                        // Handle success response
                        console.log(response); // Log the response
                        if (response.status === 'success') {
                            // Update cart count and product count
                            updateCartCount(response.cart_quantity);
                            updateProductCount(productId, response.product_quantity);
                             // Enable or disable "Remove" button based on product quantity
                             if (response.product_quantity === 1) {
                                $('#remove-product').prop('disabled', true);
                            } else {
                                $('#remove-product').prop('disabled', false);
                            }
                        }
                        else {
                            // Handle error response
                            alert('Error removing item from cart.');
                        }
                    },
                    error: function(xhr, status, error) {
                        // Handle AJAX error
                        console.log('Error:', error); // Log the error
                        alert('Error removing item from cart: ' + error);
                    }
                });
            });
    
            // Function to update cart count on the page
            function updateCartCount(count) {
                // Update the cart count element with the new count
                $('#cart-count').text(count);
                // Update the cart count displayed in the page title
                $('h5').text('Cart (' + count + ')');
                // Update the cart count URL data attribute for future updates
                $('#cartCountUrl').data('count', count);
            }
    
            // Function to update product count on the page
            function updateProductCount(productId, count) {
                // Update the product count element with the new count
                $('.product-count[data-product-id="' + productId + '"]').text(count);
    
                
            }
        });
    </script>
    
    </body>
    {% endblock %}