{% extends 'ecommerce/base.html' %}
{% load static %}
{% load custom_tags %}

{% block body %}
    {% include 'ecommerce/ad.html' %}

    <div class="row mt-4">
        <div class="col-lg-8 col-10 mx-auto black-card">
            <div class="d-flex justify-content-between align-items-center">
                {% if products %}
                    <h5 class="text-white">{{ products.0.category }}</h5>
                {% endif %}

                <div>
                    <i id="stackIcon" class="bi bi-view-stacked cursor-pointer" onclick="toggleView('stacked')"></i>
                    <i id="gridIcon" class="bi bi-grid-fill ms-2 cursor-pointer" onclick="toggleView('grid')"></i>
                </div>
            </div>

            <hr>

            <div class="row" id="productItemsContainer">
                {% for product in products %}
                    {% include 'ecommerce/product_list_grid.html' %}
                {% endfor %} 
                
                {% for product in products %}
                    {% include 'ecommerce/product_list_stacked.html' %}
                {% endfor %} 
        

            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="col-lg-8 col-10 mx-auto">
            <div class="black-card-beneath">
                <h5 class="top-selling-title">Recently Viewed</h5>
                {% render_recently_viewed_products request %}
            </div>
        </div>
    </div>
{% endblock %}
