{% extends 'ecommerce/base.html' %}
{% load static %}

{% block body %}
<body class="bg-dark">
    <div class="d-flex ms-5">
        {% for item in breadcrumb %}
            {% if forloop.last %}
            <h6 class="mt-4"><a href="{{ item.1 }}" class="text-decoration-none text-white">{{ item.0 }}</a></h6>
            {% else %}
            <h6 class="mt-4"><a href="{{ item.1 }}" class="text-decoration-none text-white">{{ item.0 }} ></a></h6>
            {% endif %}
        {% endfor %}
    </div>
    {% include 'ecommerce/ad.html' %}

    <div class="container">
    <div class="black-card-beneath">
        <div class="row" style="display: flex; justify-content: space-between;">
            {% block specific_content %}
            {% endblock %}
        </div>

        <div class="black-card-beneath last-black-card-beneath">
            <div class="row">
                <div class="col-md-12" style="color: white;">
                    {% block description %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    </div>

        
</body>
{% endblock %}