{% extends 'ecommerce/common_base2.html' %}
{% load static %}

{% block specific_content %}
            <div class="col-lg-2 col-md-4">
                <div class="position-relative ">
                    <a href="{% url 'ecommerce:air_conditioner' %}" style="position: relative; display: inline-block;">
                        <img src="{% static 'images/air_conditioner.jpg' %}" alt="Item 1" class="top-selling-image img-fluid">
                        <div class="item-name text-center grains-rice-container">&nbsp;&nbsp;<b>Air Conditioner</b></div>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-4">
                <div class="position-relative ">
                    <a href="{% url 'ecommerce:fan' %}" style="position: relative; display: inline-block;">
                        <img src="{% static 'images/fan.jpg' %}" alt="Item 1" class="top-selling-image img-fluid">
                        <div class="item-name text-center grains-rice-container">&nbsp;&nbsp;<b>Fan</b></div>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-4">
                <div class="position-relative ">
                    <a href="{% url 'ecommerce:freezer' %}" style="position: relative; display: inline-block;">
                        <img src="{% static 'images/freezer.jpg' %}" alt="Item 1" class="top-selling-image img-fluid">
                        <div class="item-name text-center grains-rice-container">&nbsp;&nbsp;<b>Freezer</b></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="position-relative ">
                    <a href="{% url 'ecommerce:microwave' %}" style="position: relative; display: inline-block;">
                        <img src="{% static 'images/microwave.jpg' %}" alt="Item 1" class="top-selling-image img-fluid">
                        <div class="item-name text-center grains-rice-container">&nbsp;&nbsp;<b>Microwave</b></div>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-4">
                <div class="position-relative ">
                    <a href="{% url 'ecommerce:fridge' %}" style="position: relative; display: inline-block;">
                        <img src="{% static 'images/fridge.jpg' %}" alt="Item 1" class="top-selling-image img-fluid">
                        <div class="item-name text-center grains-rice-container">&nbsp;&nbsp;<b>Fridge</b></div>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-4">
              <div class="position-relative ">
                  <a href="{% url 'ecommerce:washing_machine' %}" style="position: relative; display: inline-block;">
                      <img src="{% static 'images/washing machine.jpg' %}" alt="Item 1" class="top-selling-image img-fluid">
                      <div class="item-name text-center grains-rice-container">&nbsp;&nbsp;<b>Washing Machine</b></div>
                  </a>
              </div>
          </div>
        </div>
{% endblock %}

{% block description %}
                <h5 class="mb-4">Shop All You Need for Your Home and Office Space on Chistev</h5>
                <p class="small">Are you looking to transform your house into a cozy home or enhance your office space for maximum productivity? Look no further! Chistev is your ultimate online store, offering a wide range of home and office essentials. Explore our extensive and affordable collection of home and office supplies that cater to all budgets.</p>
{% endblock %}