{% extends 'ecommerce/base.html' %}
{% load static %}
{% load custom_tags %}

{% block body %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8">
                <div class="black-card mx-auto">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="top-selling-image img-fluid">
                            <hr>
                            <div>
                                <b>SHARE THIS PRODUCT</b>
                            </div>
                            <div class="social-icons mt-3 fs-5">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" class="me-3 text-white">
                                    <i class="bi bi-facebook"></i>
                                </a>                                
                                <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" target="_blank" class="me-3 text-white">
                                    <i class="bi bi-twitter-x"></i>
                                </a>                                
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="d-flex justify-content-end">
                                <div class="fs-4">
                                    <div class="me-3 text-white">
                                        {% if request.user.is_authenticated %}
                                        {% if saved_product %}
                                        <i class="bi bi-balloon-heart-fill" data-product-id="{{ product.id }}"></i>
                                        {% else %}
                                        <i class="bi bi-balloon-heart" data-product-id="{{ product.id }}"></i>
                                        {% endif %}
                                        {% else %}
                                        <!-- Render heart icon as not saved if user is not authenticated -->
                                        <a href="{% url 'accounts:login_or_register' %}" class="text-white">
                                            <i class="bi bi-balloon-heart"></i>
                                        </a>
                                        
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="product-name">{{ product.name }}</div>
                            <hr>
                            <div class="d-flex mt-2">
                                <div class="text-white fs-5">&nbsp;&nbsp;N&nbsp; {{ product.formatted_price }}</div>
                                {% if product.old_price > 0 and product.old_price > product.new_price %}
                                <div class="slashed-price text-white ms-2 fs-6" style="text-decoration: line-through; font-size: 13px;">N&nbsp; {{ product.formatted_old_price }}</div>
                                <span class="badge bg-danger ms-2 fs-6">{{ product.discount_percentage }}%</span>
                                {% endif %}
                            </div>
                            <p style="font-size: small; color: grey;">In stock</p>
                            <form id="add-to-cart-form" data-product-id="{{ product.id }}" method="POST">
                                {% csrf_token %}
                                <button id="add-to-cart-btn" class="btn btn-primary mt-3 mb-2 d-flex justify-content-between align-items-center" style="width: 90%;">
                                    <i class="bi bi-cart"></i>
                                    <span class="text-center w-100">ADD TO CART</span>
                                </button>
    
                                <div id="product-quantity" style="display: none;">
                                    <button id="remove-product" class="btn btn-primary me-3">
                                        <i class="bi bi-dash-lg"></i>
                                    </button>
                                    <span id="product-count">{{ user_cart_items.0.quantity|default:0 }}</span>
                                        
                                    <button id="add-product" class="btn btn-primary ms-3 me-3">
                                        <i class="bi bi-plus-lg"></i>
                                    </button>
                                    <span>(<span id="item-count">{{ user_cart_items.0.quantity|default:0 }}</span> item(s) added)</span>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- DELIVERY CARD -->
            <div class="col-lg-4 mt-1">
                <div class="black-card">
                    <p class="fw-bold">DELIVERY & RETURNS</p>
                    <hr>
                    
                    <p class="fw-bold">Choose your location</p>
                    <div style="margin-top: -10px;">
                        <select class="form-select" id="state" name="state">
                            <option value="" disabled selected>State</option>
                            {% for state in states %}
                            {% if user_address and user_address.first %}
                            <option value="{{ state.id }}" {% if state.id == user_address.first.state.id %}selected{% endif %}>{{ state.name }}</option>
                            {% else %}
                            <option value="{{ state.id }}">{{ state.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
    
                    <div style="margin-top: 10px;">
                        <select class="form-select" id="city" name="city" disabled>
                            <option value="" disabled selected>City</option>
                            {% if user_address and user_address.first %}
                            {% for city in user_address.first.state.city_set.all %}
                            <option value="{{ city.id }}" {% if city.id == user_address.first.city.id %}selected{% endif %}>{{ city.name }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <hr>
                    <div>
                        <p>Return Policy</p>
                        <p>Free return within 7 days for ALL eligible items <a href="{% url 'ecommerce:return_policy' %}" class="text-decoration-none">Details</a></p>
                    </div>
                </div>
            </div>    
        </div>

        
            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="black-card">
                        <h5>Product Details</h5>
                        <hr>
                        <p>{{ product.description }}</p>
                    </div>
                </div>
            </div>
    
        
            <div class="row">
                <div class="col-lg-12">
                    <div class="black-card-beneath">
                        <h5 class="top-selling-title">Recently Viewed</h5>
                        {% render_recently_viewed_products request %}
                    </div>
                </div>
            </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#state').change(function () {
                var stateId = $(this).val();
    
                $.ajax({
                    url: "{% url 'accounts:get_cities' %}",
                    data: {
                        'state_id': stateId
                    },
                    dataType: 'json',
                    success: function (data) {
                        var options = '<option value="" disabled selected>City</option>';
                        $.each(data.cities, function (key, value) {
                            options += '<option value="' + value.id + '">' + value.name + '</option>';
                        });
                        $('#city').html(options).removeAttr('disabled').removeClass('bg-secondary');
                    }
                });
    
            });
        });

    </script>


<script>
    $(document).ready(function () {

        function updateCartCount() {
            $.ajax({
                type: 'GET',
                url: '{% url "ecommerce:cart_count" %}', 
                dataType: 'json',
                success: function (data) {
                    $('#cart-count').text(data.count);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                    // Handle errors if any
                }
            });
        }

         // Call updateCartCount initially to load the initial cart count
         updateCartCount();

        // Function to add a product to the cart
        function addToCart(productId) {
            $.ajax({
                type: 'POST',
                url: '{% url "ecommerce:add_to_cart" %}',
                data: {
                    'product_id': productId,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                dataType: 'json',
                success: function (data) {
                    // Create and display the Bootstrap alert
                var alertHtml = `
                <div class="alert alert-success alert-dismissible fade show d-flex justify-content-center align-items-center" role="alert">
                        Product added successfully!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`;
                $('#alert-container').html(alertHtml);

                    // Increment the product quantity displayed on the UI
                    var currentQuantity = parseInt($('#product-count').text());
                    $('#product-count').text(currentQuantity + 1);
                    // Update item count
                    $('#item-count').text(currentQuantity + 1);
                    // Hide the "Add to Cart" button and display the quantity div
                    $('#add-to-cart-btn').hide();
                    $('#product-quantity').show();
                    updateCartCount();  // Update cart count after adding the product
                    // Automatically remove the alert after 5 seconds (5000 milliseconds)
                    setTimeout(function () {
                        $('.alert').alert('close');
                    }, 5000);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                    // Handle errors if any
                }
            });
        }

        // Function to remove a product from the cart
        function removeFromCart(productId) {
            $.ajax({
                type: 'POST',
                url: '{% url "ecommerce:remove_from_cart" %}',
                data: {
                    'product_id': productId,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                dataType: 'json',
                success: function (data) {
                    // Create and display the Bootstrap alert
                var alertHtml = `
                <div class="alert alert-success alert-dismissible fade show d-flex justify-content-center align-items-center" role="alert">
                        Item quantity has been updated!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`;
                $('#alert-container').html(alertHtml);
                    // Decrement the product quantity displayed on the UI
                    var currentQuantity = parseInt($('#product-count').text());
                    $('#product-count').text(Math.max(0, currentQuantity - 1));
                    // Update item count
                    $('#item-count').text(Math.max(0, currentQuantity - 1));
                    // If the quantity becomes zero, hide the quantity div and show the "Add to Cart" button
                    if (currentQuantity === 1) {
                        $('#product-quantity').hide();
                        $('#add-to-cart-btn').show();
                    }
                    updateCartCount();  // Update cart count after removing the product
                    // Automatically remove the alert after 5 seconds (5000 milliseconds)
                    setTimeout(function () {
                        $('.alert').alert('close');
                    }, 5000);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                    // Handle errors if any
                }
            });
        }

        // Add to cart form submission
        $('#add-to-cart-form').submit(function (e) {
            e.preventDefault();
            var productId = $(this).data('product-id');
            addToCart(productId);
        });

        // Increment product quantity on click
        $('#add-product').click(function (e) {
            e.preventDefault(); // Prevent default button behavior
            var productId = $('#add-to-cart-form').data('product-id');
            addToCart(productId);
        });

        // Decrement product quantity on click
        $('#remove-product').click(function (e) {
            e.preventDefault(); // Prevent default button behavior
            var productId = $('#add-to-cart-form').data('product-id');
            removeFromCart(productId);
        });
    });
</script> 

<script>
    $(document).ready(function () {
    // Event listener for clicking on the heart icon
    $('.bi-balloon-heart, .bi-balloon-heart-fill').click(function () {
        var iconElement = $(this);  // Capture the icon element
        var productId = iconElement.data('product-id');

        // Send AJAX request to save or unsave the product
        $.ajax({
            type: 'POST',
            url: '{% url "ecommerce:save_product" %}',
            data: {
                'product_id': productId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (data) {
                if (data.status === 'save') {
                    iconElement.removeClass('bi-balloon-heart').addClass('bi-balloon-heart-fill');
                    // Create and display the Bootstrap alert
                    var alertHtml = `
                    <div class="alert alert-success alert-dismissible fade show d-flex justify-content-center align-items-center" role="alert">
                            Product successfully added to your wishlist
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`;
                    $('#alert-container').html(alertHtml);
                    // Automatically remove the alert after 5 seconds (5000 milliseconds)
                    setTimeout(function () {
                        $('.alert').alert('close');
                    }, 5000);
                } else if (data.status === 'unsave') {
                    iconElement.removeClass('bi-balloon-heart-fill').addClass('bi-balloon-heart');
                    // Create and display the Bootstrap alert
                    var alertHtml = `
                    <div class="alert alert-success alert-dismissible fade show d-flex justify-content-center align-items-center" role="alert">
                            The item was removed successfully.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`;
                    $('#alert-container').html(alertHtml);
                    // Automatically remove the alert after 5 seconds (5000 milliseconds)
                    setTimeout(function () {
                        $('.alert').alert('close');
                    }, 5000);
                } else {
                    alert('Failed to update product status.');
                }
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
                alert('Failed to update product status.');
            }
        });
    });
});

</script>

{% endblock %}