{% extends 'ecommerce/base.html' %}
{% load static %}

{% block body %}
<body class="bg-dark">
    <div class="d-flex ms-5">
        {% for item in breadcrumb %}
            {% if not forloop.last %}
                <h6 class="mt-4"><a href="{{ item.1 }}" class="text-decoration-none text-white">{{ item.0 }} ></a></h6>
            {% else %}
                <h6 class="mt-4">{{ item.0 }}</h6>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container mt-4">
        <div class="row d-flex">
            <div class="col-md-8 black-card ms-5">
                   <!-- Product Card --> 
                    <div class="row">
                        <div class="col-md-3 black-card ms-4">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="top-selling-image img-fluid">
                            <hr>
                            <div>
                            <b>
                                SHARE THIS PRODUCT
                            </b>
                                
                            </div>
                            <div class="social-icons mt-3 fs-5">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" class="me-3 text-white ">
                                    <i class="bi bi-facebook"></i>
                                </a>                                
                                <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" target="_blank" class="me-3 text-white">
                                    <i class="bi bi-twitter-x"></i>
                                </a>                                
                            </div>
                        </div>

                        <div class="col-md-8 black-card ms-3 ">
                            <div class="d-flex">
                                <div class="ms-auto fs-4 ">
                                    <a href="https://www.facebook.com/yourpage" target="_blank" class="me-3 text-white">
                                        <i class="bi bi-balloon-heart"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-name">{{ product.name }}</div>
                            <hr>
                            <div class="d-flex mt-2">
                                <div class="text-white fs-5">&nbsp;&nbsp;N&nbsp; {{ product.formatted_price }}</div>
                                {% if product.old_price > 0 and product.old_price > product.new_price %}
                                <div class="slashed-price text-white ms-2 fs-6" style="text-decoration: line-through; font-size: 13px;">N&nbsp; {{ product.formatted_old_price }}</div>
                                <span class="badge bg-danger ms-2 fs-6">{{ product.discount_percentage }}%</span>
                                {% endif %}
                            </div>
                            <p style="font-size: small; color: grey;">
                                In stock
                            </p>
                            <div class="">
                                <a href="" class="btn btn-primary mt-3 mb-2 d-flex justify-content-between align-items-center" style="width: 90%;">
                                    <i class="bi bi-cart"></i>
                                    <span class="text-center w-100">ADD TO CART</span>
                                </a>
                            </div>
                            
                            
                        </div>
                    </div>
            </div>

            <!-- DELIVERY CARD -->
            <div class="col-md-3 black-card ms-3">
                <p class="fw-bold">DELIVERY & RETURNS</p>
                <hr>
                
                <p class="fw-bold">Choose your location</p>
                <div style="margin-top: -10px;">
                        <select class="form-select" id="state" name="state">
                            <option value="" disabled selected>State</option>
                            {% for state in states %}
                                <option value="{{ state.id }}">{{ state.name }}</option>
                            {% endfor %}
                        </select>
                </div>

                <div style="margin-top: 10px;">
                        <select class="form-select" id="city" name="city" disabled>
                            <option value="" disabled selected>City</option>
                        </select>
                </div>
                <hr>
                <div>
                    <p>Return Policy</p>
                    <p>Free return within 7 days for ALL eligible items <a href="" class="text-decoration-none">Details</a></p>
                </div>
                
            </div>    
        </div>

        <div class="row d-flex mt-2">
            <div class="col-md-12 black-card ms-5">
                <h5>Product Details</h5>
                <hr>
                <p>{{ product.description }}</p>
            </div>
        </div>

        <div class="row d-flex mt-2">
            <div class="col-md-12 black-card ms-5">
                <div class="d-flex justify-content-between">
                    <h5>Recently Viewed</h5>
                    <a href="" class="text-decoration-none text-primary" >SEE ALL ></a>
                </div>
                <hr>
                <div class="row">
                    {% for viewed_product in recently_viewed %}
                    <div class="col-lg-2 col-md-4">
                        <div class="position-relative">
                            <a href="#">
                                <img src="{{ viewed_product.image.url }}" alt="{{ viewed_product.name }}" class="top-selling-image img-fluid">
                                {% if viewed_product.old_price > 0 and viewed_product.old_price > viewed_product.new_price %}
                                <span class="badge bg-danger price-reduction-badge">{{ viewed_product.discount_percentage }}</span>
                                {% endif %}
                                <div class="item-name">&nbsp;&nbsp;{{ viewed_product.name }}</div>
                                {% if viewed_product.old_price > 0 and viewed_product.old_price > viewed_product.new_price %}
                                <div class="item-price text-white">&nbsp;&nbsp;N&nbsp;{{ viewed_product.formatted_price }}</div> <!-- Add the price here -->
                                <div class="slashed-price text-white" style="text-decoration: line-through; font-size: 13px;">N&nbsp;{{ viewed_product.formatted_old_price }}</div>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#state').change(function () {
                var stateId = $(this).val();
    
                // Send AJAX request to get cities for the selected state
                $.ajax({
                    url: "{% url 'accounts:get_cities' %}",
                    data: {
                        'state_id': stateId
                    },
                    dataType: 'json',
                    success: function (data) {
                        var options = '<option value="" disabled selected>City</option>';
                        $.each(data.cities, function (key, value) {
                            options += '<option value="' + value.id + '">' + value.name + '</option>';
                        });
                        $('#city').html(options).removeAttr('disabled').removeClass('bg-secondary');
                    }
                });
    
            });
        });

    </script>
    
</body>

{% endblock %}