<div class="row">
    {% for viewed_product in recently_viewed %}
    <div class="col-lg-2 col-md-4">
        <div class="position-relative">
            <a href="">
                <a href="{% url 'ecommerce:product_detail' viewed_product.id %}">
                <img src="{{ viewed_product.image.url }}" alt="{{ viewed_product.name }}" class="top-selling-image img-fluid">
                {% if viewed_product.old_price > 0 and viewed_product.old_price > viewed_product.new_price %}
                <span class="badge bg-danger price-reduction-badge">{{ viewed_product.discount_percentage }}</span>
                {% endif %}
                <div class="item-name">&nbsp;&nbsp;{{ viewed_product.name }}</div>
                <div class="item-price text-white">&nbsp;&nbsp;N&nbsp;{{ viewed_product.formatted_price }}</div>
                {% if viewed_product.old_price > 0 and viewed_product.old_price > viewed_product.new_price %}
                <div class="slashed-price text-white" style="text-decoration: line-through; font-size: 13px;">N&nbsp;{{ viewed_product.formatted_old_price }}</div>
                {% endif %}
            </a>
        </div>
    </div>
{% endfor %}
</div>