{% extends 'ecommerce/base.html' %}
{% block title %}Returns and Delivery Policy{% endblock %}

{% block body %}

    <div class="container my-5">
        <div class="row text-white">
            <div class="col-lg-8 mx-auto">
                <h1 class="text-center mb-4">Returns and Delivery Policy</h1>
    
                <div class="mb-4">
                    <h2>1. Introduction</h2>
                    <p>
                        At Chistev, we want you to have a positive experience every time you shop with us. Occasionally though, we know you may want to return items you have purchased.
                    </p>
                </div>
    
                <div class="mb-4">
                    <h2>2. Items that cannot be returned</h2>
                    <p>
                        We do not accept returns of certain product categories for health and hygiene reasons. Customer safety is important to us, so certain product categories cannot be returned due to health and hygiene reasons, or if they may deteriorate or expire rapidly. You shall only be entitled to return and refund in respect of these items if you received the wrong item; a damaged or defective item; or a fake or inauthentic item. You are not entitled to a refund or return of these product categories if you have changed your mind.
                    </p>
                    <p>
                        We do not accept returns of customized items. We do not accept returns of goods made, configured or inscribed to your specification or (e.g. personalized engravings, stamps, monograms, embroidery, embossing, etching, carving or printing).
                    </p>
                    <p>
                        We do not accept returns of items that you have damaged after delivery. We do not accept returns of used or worn items, unless the reason for return is that the item stopped working or became damaged or defective after reasonable use (in accordance with manufacturers guidelines where applicable) during the returns period. Items becoming defective after delivery is not an applicable return reason in respect of the following product categories: clothing, sport & fitness and consumables.
                    </p>
                </div>
    
                <div class="mb-4">
                    <h2>3. Packaging returns</h2>
                    <p>
                        When returning an item for any reason, you must do so in the exact condition you received it from Chistev, with its original packaging and all tags and labels attached (e.g. shoes should be returned within the original shoe box; and seals on items including audio or video recordings or software must not be removed). Returned items are your responsibility until they reach us, so do make sure they are packaged properly and can't get damaged on the way.
                    </p>
                    <p>
                        You must not include in the packaging with the returned item any item not pertaining to the returned item as originally received from Chistev. You must entirely delete and eliminate all personal data pertaining to you and/or any third party which may be possibly present in an item, and de-latch any account possibly latched to the item. Chistev will not be responsible for any items erroneously contained within a returned package, or for any data breach resulting from failure to eliminate personal data contained in a returned item.
                    </p>
                </div>
                
                <div class="mb-4">
                    <h2>4. Refunds</h2>
                    <p>
                        For incorrect, defective, or damaged items, you will be refunded for the full cost of delivery of the returned items, once your return is processed.
                    </p>
                    <p>
                        If the return is not the result of Chistev error (i.e. you changed your mind or the size does not fit as expected) you will not receive any refund on delivery fees.
                    </p>
                </div>
    
                <div class="mb-4">
                    <h2>5. Rejected return and refund requests and forfeiture</h2>
                    <p>
                        All items are inspected on return to verify the return reasons provided. If your return request is not approved by Chistev, you shall not receive any refund of the purchase price or the delivery fees, and we will make 2 attempts to redeliver within 3 business days.
                    </p>
                    <p>
                        If both re-delivery attempts are unsuccessful, we will immediately notify you that we will hold the item for a further 30 days from the date of the initial notification. Our notification will include details about pick up location and opening hours.
                    </p>
                    <p>
                        If you do not collect the item within the required period, you shall forfeit the item i.e. the item shall become Chistev property and Chistev may dispose of it in any manner that it determines appropriate e.g. by sale, charitable donation, recycling or destruction.
                    </p>
                </div>
                
                <div>
                    <h2>6. No exchange</h2>
                    <p>
                        We don't offer exchanges. If you would like a different size or color, please return your unwanted item and place a new order.
                    </p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
