<div class="row">
    {% for product in top_selling_products %}
    <div class="col-lg-2 col-md-4">
        <div class="position-relative">
            <a href="">
                <a href="{% url 'ecommerce:product_detail' product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="top-selling-image img-fluid">
                {% if product.old_price > 0 and product.old_price > product.new_price %}
                <span class="badge bg-danger price-reduction-badge">{{ product.discount_percentage }}</span>
                {% endif %}
                <div class="item-name">&nbsp;&nbsp;{{ product.name }}</div>
                <div class="item-price text-white">&nbsp;&nbsp;N&nbsp;{{ product.formatted_price }}</div>
                {% if product.old_price > 0 and product.old_price > product.new_price %}
                <div class="slashed-price text-white" style="text-decoration: line-through; font-size: 13px;">N&nbsp;{{ product.formatted_old_price }}</div>
                {% endif %}
            </a>
        </div>
    </div>
{% endfor %}
</div>