{% load static %}
<!-- Top selling items card -->
<div class="black-card-beneath">
    <!-- Add your content for the black card here -->
    <h5 class="top-selling-title">Top selling items</h5>

    <!-- Images row with Bootstrap grid -->
    <div class="row">
        <div class="col-lg-2 col-md-4">
            <div class="position-relative">
                <a href="#">
                    <img src="{% static 'images/item1.jpg' %}" alt="Item 1" class="top-selling-image img-fluid">
                    <span class="badge bg-danger price-reduction-badge">-20%</span>
                    <div class="item-name">&nbsp;&nbsp;Snack</div>
                    <div class="item-price text-white">&nbsp;&nbsp;N&nbsp;500</div> <!-- Add the price here -->
                    <div class="slashed-price text-white" style="text-decoration: line-through; font-size: 13px;">N&nbsp;250</div>
                </a>
            </div>
            
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="position-relative">
                <a href="#">
                    <img src="{% static 'images/item2.jpg' %}" alt="Item 2" class="top-selling-image img-fluid">
                    <span class="badge bg-danger price-reduction-badge">-10%</span>
                    <div class="item-name">&nbsp;&nbsp;Clock</div>
                    <div class="item-price text-white">&nbsp;&nbsp;N&nbsp;5,000</div> <!-- Add the price here -->
                    <div class="slashed-price text-white" style="text-decoration: line-through; font-size: 13px;">N&nbsp;4,000</div>
                </a>
            </div>
            
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="position-relative">
                <a href="#">
                    <img src="{% static 'images/item3.jpg' %}" alt="Item 3" class="top-selling-image img-fluid">
                    <span class="badge bg-danger price-reduction-badge">-5%</span>
                    <div class="item-name">&nbsp;&nbsp;Photocopy Machine</div>
                    <div class="item-price text-white">&nbsp;&nbsp;N&nbsp;16,000</div> <!-- Add the price here -->
                    <div class="slashed-price text-white" style="text-decoration: line-through; font-size: 13px;">N&nbsp;15,000</div>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="position-relative">
                <a href="#">
                    <img src="{% static 'images/item4.jpg' %}" alt="Item 4" class="top-selling-image img-fluid">
                    <span class="badge bg-danger price-reduction-badge">-24%</span>
                    <div class="item-name">&nbsp;&nbsp;Samsung</div>
                    <div class="item-price text-white">&nbsp;&nbsp;N&nbsp;700,000</div> <!-- Add the price here -->
                    <div class="slashed-price text-white" style="text-decoration: line-through; font-size: 13px;">N&nbsp;600,000</div>
                </a>
            </div>
            
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="position-relative">
                <a href="#">
                    <img src="{% static 'images/item5.jpg' %}" alt="Item 5" class="top-selling-image img-fluid">
                <span class="badge bg-danger price-reduction-badge">-4%</span>
                <div class="item-name">&nbsp;&nbsp;Tablet</div>
                <div class="item-price text-white">&nbsp;&nbsp;N&nbsp;600,000</div> <!-- Add the price here -->
                <div class="slashed-price text-white" style="text-decoration: line-through; font-size: 13px;">N&nbsp;500,000</div>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="position-relative mx-auto">
                <a href="#">
                    <img src="{% static 'images/item6.jpg' %}" alt="Item 6" class="top-selling-image img-fluid">
                <span class="badge bg-danger price-reduction-badge">-12%</span>
                <div class="item-name">&nbsp;&nbsp;Computer</div>
                <div class="item-price text-white">&nbsp;&nbsp;N&nbsp;800,000</div> <!-- Add the price here -->
                <div class="slashed-price text-white" style="text-decoration: line-through; font-size: 13px;">N&nbsp;700,000</div>
                </a>
            </div>
            
        </div>
    </div>
</div>