<div class="col-md-2 mb-4 ">
    <div class="black-card my-account-card">
        <ul class="custom-list">
            <li><a href="{% url 'accounts:my_account' %}" class="nav-link {% if current_path == 'my_account' %}active{% endif %}">
                <i class="bi bi-person"></i>My Chistev Account</a>
            </li>

            <li><a href="{% url 'accounts:orders' %}" 
                class="nav-link {% if current_path == 'closed_orders' or current_path == 'orders' %}active{% endif %}"><i class="bi bi-bag">
                </i>Orders</a>
            </li>
            
            <li><a href="{% url 'accounts:inbox' %}" class="nav-link  {% if current_path == 'inbox' %}active{% endif %}"><i class="bi bi-inbox">
            </i>Inbox</a></li>

            <li><a href="{% url 'accounts:saved_items' %}" class="nav-link {% if current_path == 'saved_items' %}active{% endif %}"><i class="bi bi-bookmark"></i>Saved Items</a></li>
            <hr>
            <li><a href="{% url 'accounts:account_management' %}">Account Management</a></li>
            <li><a href="{% url 'accounts:address_book' %}" class="nav-link {% if current_path == 'address_book' or current_path == 'address_book_create' or current_path == 'address_book_edit' %}active{% endif %}">Address Book</a></li>
            <li><a href="{% url 'accounts:delete_account' %}">Close Account</a></li>
            <hr>
                <li class="text-center ms-auto"> 
                    <a class="btn text-primary sign_out_btn" style="display: inline-block;" href="{% url 'accounts:sign_out' %}">Sign out</a>
                </li>
        </ul>
    </div>
</div>