<div class="col-md-2 mb-4" style="margin-right: 100px;">
    <div class="black-card my-account-card">
        <h5>Hello, {{ personal_details.first_name }} {{ personal_details.last_name }}</h5>
        <br>
    
        <div class="card-body d-flex justify-content-between align-items-center" style="box-shadow: 2px 2px 4px grey;">
            <h5 class="card-title"><i class="bi bi-person me-3"></i>Profile Details</h5>
            <a href="#" onclick="toggleBasicDetails()"><i id="basicDetailsArrowIcon" class="bi bi-arrow-right"></i></a>
        </div>
        <div id="basicDetails" class="card-body mt-3" style="box-shadow: 2px 2px 4px grey; display: none;">
            <h5 class="custom-list">
                <li><a href="{% url 'accounts:basic_details' %}" class="nav-link">Basic Details</a></li>
            </h5>
        </div>

        <div class="card-body d-flex justify-content-between align-items-center mt-5" style="box-shadow: 2px 2px 4px grey;">
            <h5 class="card-title"><i class="bi bi-lock me-3"></i>Security Settings</h5>
            <a href="#" onclick="toggleChangePassword()"><i id="changePasswordArrowIcon" class="bi bi-arrow-right"></i></a>
        </div>
        <div id="changePassword" class="card-body mt-3" style="box-shadow: 2px 2px 4px grey; display: none;">
            <h5 class="custom-list">
                <li><a href="{% url 'accounts:change_password' %}" class="nav-link">Change Password</a></li>
            </h5>
        </div>
    </div>
</div>