{% extends 'accounts/base.html' %}

{% block content %}
<div class="container">
    <!-- Error Messages -->
    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% endif %}" 
        style="width: 100%;" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
            <div class="row"> 
                 <!-- First Card -->
                 {% include 'accounts/basic_and_security_details.html' %}
    
                <div class="col-md-6 col-11 mx-auto col-lg-8 black-card" style="height: auto; width: auto;">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5>Profile Details</h5>
                        <h5>
                            <a href="{% url 'accounts:edit_basic_details' %}" class="text-decoration-none" >Edit Profile</a>
                        </h5>
                    </div>
                    
                    <form>
                        <div class="mb-3">
                            <label for="first-name" class="form-label d-flex">First Name:</label>
                            <input type="text" class="form-control" id="first-name" value="{{ personal_details.first_name }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="middle-name" class="form-label d-flex">Middle Name:</label>
                            <input type="text" class="form-control" id="middle-name" value="{{ personal_details.middle_name }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="last-name" class="form-label d-flex">Last Name:</label>
                            <input type="text" class="form-control" id="last-name" value="{{ personal_details.last_name }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label d-flex">Email:</label>
                            <input type="text" class="form-control" id="email" value="{{ user.email }}" readonly>
                        </div>
                    </form>
                    
                </div>  
    
                
            
        </div>
            
        </div>
    </div>
    
    {% endblock %}
