{% extends 'accounts/base.html' %}

{% block content %}
<div class="container">
            <div class="row">
                 <!-- First Card -->
                 <div class="col-md-5 col-lg-4 mb-4">
                    <div class="black-card my-account-card mx-auto">
                        <h5>Hello, {{ personal_details.first_name }} {{ personal_details.last_name }}</h5>
                        <br>
                    
                        <div class="card-body d-flex justify-content-between align-items-center" style="box-shadow: 2px 2px 4px grey;">
                            <h5 class="card-title"><i class="bi bi-person me-3"></i>Profile Details</h5>
                            <a href="#" onclick="toggleBasicDetails()"><i id="basicDetailsArrowIcon" class="bi bi-arrow-right"></i></a>
                        </div>
                        <div id="basicDetails" class="card-body mt-3" style="box-shadow: 2px 2px 4px grey; display: none;">
                            <h5 class="custom-list">
                                <li><a href="{% url 'accounts:basic_details' %}" class="nav-link">Basic Details</a></li>
                            </h5>
                        </div>
                
                        <div class="card-body d-flex justify-content-between align-items-center mt-5" style="box-shadow: 2px 2px 4px grey;">
                            <h5 class="card-title"><i class="bi bi-lock me-3"></i>Security Settings</h5>
                            <a href="#" onclick="toggleChangePassword()"><i id="changePasswordArrowIcon" class="bi bi-arrow-right"></i></a>
                        </div>
                        <div id="changePassword" class="card-body mt-3" style="box-shadow: 2px 2px 4px grey; display: none;">
                            <h5 class="custom-list">
                                <li><a href="{% url 'accounts:change_password' %}" class="nav-link">Change Password</a></li>
                                <li class="delete-account"><a href="{% url 'accounts:delete_account' %}" class="nav-link text-danger delete-account">Delete Account</a></li>
                            </h5>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6 col-11 mx-auto col-lg-8 black-card" style="height: auto; width: auto;">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5>Profile Details</h5>
                        <h5>
                            <a href="{% url 'accounts:edit_basic_details' %}" class="text-decoration-none" >Edit Profile</a>
                        </h5>
                    </div>
                    
                    <form>
                        <div class="mb-3">
                            <label for="first-name" class="form-label d-flex">First Name:</label>
                            <input type="text" class="form-control" id="first-name" value="{{ personal_details.first_name }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="middle-name" class="form-label d-flex">Middle Name:</label>
                            <input type="text" class="form-control" id="middle-name" value="{{ personal_details.middle_name }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="last-name" class="form-label d-flex">Last Name:</label>
                            <input type="text" class="form-control" id="last-name" value="{{ personal_details.last_name }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label d-flex">Email:</label>
                            <input type="text" class="form-control" id="email" value="{{ user.email }}" readonly>
                        </div>
                    </form>
                    
                </div>  
    
                
            
        </div>
            
        </div>
    </div>
    
    {% endblock %}