{% extends 'accounts/base.html' %}

{% load static %}

{% block content %}
<body class="bg-dark" style="margin-top: -140px;">
    <div class="container">
        <div class="row">
             <!-- First Card -->
             {% include 'accounts/basic_and_security_details.html' %}
    
            <div class="col-md-8 ms-auto black-card" style="height: auto;">
                <div class="d-flex mb-3">
                    <h5>Password Settings</h5>
                </div>

                <!-- Error Messages -->
                {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}" 
                    style="width: 90%;" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% endif %} 
                <form method="post" id="change-password-form" onsubmit="return validateForm()">
                    {% csrf_token %}
                    <div class="mb-4">
                        <input type="password" placeholder="Current Password" class="form-control" id="current-password" name="current-password">
                    </div>
                    <div class="mb-4">
                        <input type="password" placeholder="New Password" class="form-control" id="Password1" name="new-password" >
                        <span id="passwordStrength"></span>
                    </div>
                    <div class="mb-4">
                        <input type="password" placeholder="Confirm Password" class="form-control" id="Password2" name="confirm-password">
                        <span id="passwordMatch"></span>
                    </div>

                    <div style="display: flex; justify-content:right; margin-right: 70px;">
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Save</button>
                    </div>

                    
                </form>
                
            </div>  

            
        
    </div>
        
    </div>
</body>
<script>
    // JavaScript function to handle "Enter" keypress event
    document.addEventListener("DOMContentLoaded", function() {
        var inputs = document.querySelectorAll('input[type="password"]');
        inputs.forEach(function(input, index) {
            input.addEventListener("keypress", function(event) {
                if (event.keyCode === 13) {
                    // Prevent form submission
                    event.preventDefault();
                    // Move focus to the next input field
                    var nextIndex = index + 1;
                    if (nextIndex < inputs.length) {
                        inputs[nextIndex].focus();
                    } else {
                        // Submit the form if the current input is the last one
                        document.getElementById("change-password-form").submit();
                    }
                }
            });
        });
    });
</script>
{% endblock %}