{% extends 'accounts/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
             <!-- First Card -->
             {% include 'accounts/basic_and_security_details.html' %}
    
             <div class="col-md-6 col-11 mx-auto col-lg-8 black-card" style="height: auto; width: auto;">
                <div class="d-flex mb-3">
                    <h5>Profile Details</h5>
                </div>
                
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="first-name" class="form-label d-flex">First Name:</label>
                        {{ form.first_name }}
                    </div>
                    <div class="mb-3">
                        <label for="middle-name" class="form-label d-flex">Middle Name:</label>
                        {{ form.middle_name }}
                    </div>
                    <div class="mb-3">
                        <label for="last-name" class="form-label d-flex">Last Name:</label>
                        {{ form.last_name }}
                    </div>

                    <div style="display: flex; justify-content:right;">
                        <button type="submit" class="btn btn-primary ms-auto" style="width: 30%;">Save</button>
                    </div>

                    
                </form>
                
            </div>  

            
        
    </div>
        
    </div>

{% endblock %}
