{% extends 'accounts/base.html' %}

{% block content %}
<body class="bg-dark" style="margin-top: -140px;">
    <div class="container">
        <div class="row">
             <!-- First Card -->
             {% include 'accounts/basic_and_security_details.html' %}
    
            <div class="col-md-8 ms-auto black-card" style="height: auto;">
                <div class="d-flex mb-3">
                    <h5>Profile Details</h5>
                </div>
                
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="first-name" class="form-label d-flex">First Name:</label>
                        <input type="text" class="form-control" id="first-name" name="first-name" value="{{ personal_details.first_name }}">
                    </div>
                    <div class="mb-3">
                        <label for="middle-name" class="form-label d-flex">Middle Name:</label>
                        <input type="text" class="form-control" id="middle-name" name="middle-name" value="{{ personal_details.middle_name }}" >
                    </div>
                    <div class="mb-3">
                        <label for="last-name" class="form-label d-flex">Last Name:</label>
                        <input type="text" class="form-control" id="last-name" name="last-name" value="{{ personal_details.last_name }}" >
                    </div>

                    <div style="display: flex; justify-content:right; margin-right: 70px;">
                        <button type="submit" class="btn btn-primary" style="width: 30%;">Save</button>
                    </div>

                    
                </form>
                
            </div>  

            
        
    </div>
        
    </div>
</body>
{% endblock %}
