{% extends 'ecommerce/base.html' %}

{% block body %}
<body class="bg-dark">
    <div class="container mt-4">
        <div class="row">
             <!-- First Card -->
             {% include 'accounts/account_navigation.html' %}
    
            <div class="col-md-8 ms-auto black-card" style="margin-right: 50px; height: auto;">
                <h5>Account Overview</h5>
                <hr>
                <table class="table table-borderless custom-table " style="float: left; width: 40%;">
                    <thead>
                        <tr>
                            <th colspan="2">Account Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ personal_details.first_name }} {{ personal_details.last_name }}</td>
                            
                        </tr>
                        <tr>
                            <td>{{ user.email }}</td>
                        </tr>
                    </tbody>
                </table>

                <!-- Second table on the right -->
            <table class="table table-borderless custom-table" style="float: right; width: 40%; height: 40%;">
                <thead>
                    <tr>
                        <th>Address Book</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Your default shipping address:</td>
                    </tr>
                    <tr>
                        <td>123 Main Street, Cityville</td>
                    </tr>
                    <!-- Add more rows for other address details if needed -->
                    <tr id="add-default-address">
                        <td><a href="#" class="text-decoration-none" >ADD DEFAULT ADDRESS</a></td>
                    </tr>
                </tbody>
            </table>

            <!-- Third table -->
            <table class="table table-borderless custom-table" style="float: left; width: 40%; height: 40%;">
                <thead>
                    <tr>
                        <th>Chistev Store Credit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <i class="bi bi-cash"></i> N50.00
                        </td>
                        
                    </tr>
                </tbody>
            </table>

            <table class="table table-borderless custom-table" style="float: right; width: 40%; height: 40%;">
                <thead>
                    <tr>
                        <th>Newsletter Preferences</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>You are currently not subscribed to any of our newsletters.</td>
                    </tr>
                    <tr>
                        <tr id="add-default-address">
                            <td><a href="#" class="text-decoration-none" >EDIT NEWSLETTER PREFERENCES</a></td>
                        </tr>
                        
                    </tr>
                </tbody>
            </table>
            </div>  
        
    </div>
        
    </div>
</body>
{% endblock %}
