{% extends 'ecommerce/base.html' %}
{% block body %}
             <!-- First Card -->
             {% include 'accounts/account_navigation.html' %}
                <h5>Account Overview</h5>
                <hr>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <a href="#" class="text-decoration-none">OPEN ORDERS (0)</a>
                    </div>
                    <div class="col-md-3">
                        <a href="{% url 'accounts:closed_orders' %}" class="text-decoration-none closed-orders">CLOSED ORDERS (0)</a>
                    </div>
                </div>
                <hr>
                <!-- Add the bag icon in the middle -->
                <div class="row mt-4">
                    <div class="col-md-12 text-center">
                        <h1><strong><i class="bi bi-bag"></i></strong></h1>
                        <p>You have placed no orders yet!</p>
                        <p>All your orders will be saved here for you to access their state anytime.</p>
                        <a href="{% url 'ecommerce:index' %}" class="btn btn-primary btn-lg mt-2">Continue Shopping</a>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</body>
{% endblock %}