{% extends 'accounts/base.html' %}

{% block content %}
        <h4>Personal Details</h4>
        <p>We just need you to fill in some details.</p>

        
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button style="width: 80%;" type="submit" id="continueButton" class="mt-3 btn btn-primary btn-block" disabled>Continue</button>
            <div class="form-check mx-auto">
                <input class="form-check-input" type="checkbox" value="" id="termsCheckbox" required>
                <label class="form-check-label" for="termsCheckbox">
                    I read and consented to the <a href="{% url 'accounts:terms_and_conditions' %}" class="text-decoration-none">Terms and Conditions</a>
                </label>
            </div>
        </form>

    <script>
        // Disable/enable continue button based on checkbox state
        document.getElementById('termsCheckbox').addEventListener('change', function() {
            document.getElementById('continueButton').disabled = !this.checked;
        });
    </script>
{% endblock %}