{% extends 'ecommerce/base.html' %}

{% block body %}

<body class="bg-dark">

    <div class="container mt-4">
        <div class="row">
             <!-- First Card -->
             {% include 'accounts/account_navigation.html' %}
    
            <div class="col-md-8 ms-auto black-card" style="margin-right: 50px; height: auto;">
                <h5>Saved Items</h5>
                <hr>
                <!-- Add the bag icon in the middle -->
                <div class="row mt-4">
                    <div class="col-md-12 text-center">
                        <h1><strong><i class="bi bi-bookmark"></i></strong></h1>
                        <p>You haven’t saved an item yet!</p>
                        <p style="width: 70%;" class="mx-auto">Found something you like? Tap on the heart shaped icon next to the item to add it to your wishlist! All your saved items will appear here.</p>
                        <a href="{% url 'ecommerce:index' %}" class="btn btn-primary btn-lg mt-2">Continue Shopping</a>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</body>
{% endblock %}