*{
    margin: 0;
    padding: 0;
}

.navbar-custom {
    background-color: black;
}

/* Remove blue outline on focus */
.form-control:focus {
    box-shadow: none;
    border-color: #ced4da; /* You can adjust the border color if needed */
}

/* Customize the search button color */
.btn-search {
    background-color: darkblue;
    border-color: darkblue;
    font-weight: bold;
}

.btn-search:hover, .btn-help:hover {
    background-color: #3385ff;
    border-color: #3385ff;
}

/* Adjust margins for the "Account" button */
.btn-account, .btn-help, .btn-cart {
    border: none;
}

/* Change background color of "Account" button on hover */
.navbar-custom .btn-account:hover {
    background-color: #3385ff; /* Same hover color as the search button */
}

/* Customize "Sign in" button color */
.btn-signin {
    background-color: darkblue;
    border-color: darkblue;
    color: white; /* Text color on the button */
    font-weight: bold; /* Make the text bolder */
    width: 90%;
    border-radius: 5px;
    
}

.btn-signin:hover {
    background-color: #3385ff; /* Lighter hover color */
    border-color: #3385ff;
}

.under-account:hover{
    background-color: rgba(0, 123, 255, 0.2); /* Adjust the alpha value for transparency */
        border-color: transparent;
        color: #212529; /* Set the desired text color */
}

/* Customize "Live Chat" button color */
.btn-live-chat {
    background-color: darkblue;
    border-color: darkblue;
    color: white; /* Text color on the button */
    font-weight: bold; /* Make the text bolder */
    width: 90%; /* Make the button full width of the dropdown */
    display: block;
    margin: 0 auto;
}

.btn-live-chat:hover {
    background-color: #3385ff; /* Lighter hover color */
    border-color: #3385ff;
}

/* Customize "Cart" button color */
.btn-cart {
    border: none;
}

.btn-cart:hover {
    background-color: #3385ff; /* Lighter hover color */
    border-color: #3385ff;
}

body{
    background-color: royalblue;
    padding-top: 60px;
}

/* Add the styles for the black-card class */
.black-card {
    background-color: black;
    color: white; /* Set the text color to white or any other color that suits your design */
    padding: 15px; /* Adjust the padding as needed */
    border-radius: 10px; /* Optional: Add rounded corners */
    /* max-width: 200px; */ /* Adjust the maximum width as needed */
    
}

.my-account-card{
    width: 300px;
}

.second-card{
    background-color: black;
    color: white; /* Set the text color to white or any other color that suits your design */
    border-radius: 10px; /* Optional: Add rounded corners */
    margin-right: 10px;
    position: relative;
}

.custom-list {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
    margin-bottom: 0; /* Ensure no margin at the bottom of the list */
}

.custom-list li {
    margin-bottom: 10px; /* Adjust the margin between list items */
}

.custom-list li:last-child {
    margin-bottom: 0; /* No margin after the last list item */
}

.custom-list a {
    text-decoration: none;
    color: white; /* Set the link color */
    display: flex;
    align-items: center; /* Align text and icon vertically */
    transition: color 0.3s; /* Add transition for a smooth effect */
}

.custom-list i {
    margin-right: 8px; /* Adjust the margin between text and icon */
}

.custom-list a:hover {
    color: #3385ff; /* Change the background color on hover */
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 500px; /* Set the desired height for the slideshow container */
    overflow: hidden; /* Hide overflow content */
}

.mySlides {
    display: none;
    height: 100%; /* Set the height of each slide to 100% of the container */
}

.slide-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5em;
    color: white;
    cursor: pointer;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s;
}

.arrow:hover {
    opacity: 5; /* Visible on hover */
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

/* Add styles for the navigation circles */
.slide-navigation {
    position: absolute;
    bottom: 5px; /* Adjust this value to your preference */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb; /* color for inactive circles */
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.active {
    background-color: #3385ff; /* Blue color for active circle */
}

/* Add styles for the third-card class */
.third-card, .fourth-card {
    background-color: black;
    border-radius: 10px;
    margin-left: -4px; /* Adjust the margin to create space between the second and third cards */
    padding: 0px;
    width: 250px;
}

/* Add styles for the black-card-beneath class */
.black-card-beneath {
    background-color: black;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    width: 100%;
    
}

.position-relative{
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    
}
.position-relative:hover{
    transform: translateY(-5px); /* Adjust the translateY value based on your preference */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5); /* Adjust the color and intensity of the box-shadow */
}

.position-relative a{
    text-decoration: none;
}

.price-reduction-badge{
    position: absolute; 
    right: 29%; 
    top: 5%; 
    transform: translate(-50%, -50%)
}

/* Add styles for the top-selling-title class */
.top-selling-title {
    color: white;
    margin-bottom: 10px;
}

/* Add styles for the top-selling-image class */
.top-selling-image {
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    border-radius: 5px; /* Optional: Add rounded corners */
    object-fit: cover;
}

/* Add styles for the item-name class */
.item-name {
    max-width: 100%;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    transition: transform 0.3s, box-shadow 0.3s;
}

.item-price {
    font-size: 12px;
}

/* Styles for Scroll-to-Top Button */
.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: black;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.scroll-to-top-btn:hover {
    background-color: #0056b3;
}

.custom-table{
    background-color: black;
}

/* Media query for smaller screens (adjust the breakpoint as needed) */
@media (min-width: 992px) {
    .form-control {
      width: 600px !important; /* Adjust the width as needed */
    }
  }

  /* Media query for small screens */
@media (max-width: 767px) {
    .third-card {
        margin-top: 20px; /* Adjust the top margin as needed */
    }

     .position-relative{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
}